<!--
# pl_annual.html WORK IN PROGRESS, author Danii Oliver
# v3.2.1 DISPLAY: Categories 04.04.2026 10:29 
-->

{% extends "base.html" %}
{% block content %}

<section class="page-header">
    <h1>P&amp;L (Annual)</h1>
    {% if selected_year %}
    <p><strong>Working year:</strong> {{ selected_year }}</p>
    {% endif %}
</section>

<section class="card">
    <h3>P&amp;L Summary</h3>
    <ul class="summary-kpis">
        <li><b>Total income:</b> {{ total_income }}</li>
        <li><b>Cost of Goods Sold:</b> {{ total_cogs }}</li>
        <li><b>Gross profit:</b> {{ gross_profit }}</li>
        <li><b>Operating expenses:</b> {{ total_expenses }}</li>
        <li><b>Net profit:</b> {{ net_profit }}</li>
    </ul>
    <a class="button-primary" href="/uncategorized?token={{ token }}">Review Uncategorized</a>

</section>


<h3>Revenues</h3>
{{ income_table|safe }}

<h4>Cost of Goods Sold</h4>
{{ cogs_table|safe }}

<hr>

<h3>Expenses</h3>
{{ expense_table|safe }}



{% endblock %}

